# Books Directory
BOOKS_DIR=

# App Password
APP_PASSWORD=

# API Keys
CHEAP_API_KEY=
CHEAP_BASE_URL=https://api.openai.com/v1
MAIN_API_KEY=
MAIN_BASE_URL=https://api.openai.com/v1

# Models
CHEAP_MODEL=gpt-3.5-turbo
MAIN_MODEL=gpt-4

# Obsidian
OBSIDIAN_VAULT_PATH=/Users/your_username/Documents/Obsidian/YourVault
